.root {
    -fx-base: #2b2b2b;
    -fx-background: #1e1e1e;
    -fx-control-inner-background: #252526;
    -fx-text-fill: #e6e6e6;
}

.label { -fx-text-fill: #e6e6e6; }

.table-view { -fx-background-color: -fx-background; }